body{
  font-size: 16px;
}

header{
  height: 3mm;
}

article{
  overflow: hidden;
}

p{
  margin: 0;
  padding: 0;
}

.paidby{
  margin-top: 10px;
}

.paidby p{
  margin-bottom: 10px;
}

#leftcontent{
  width: 120mm;
  margin-right: 1mm;
  float: left;
}

#centrecontent{
  width: 199mm;
margin-right: 1mm;
height: 110mm;
margin-top: 3mm;
float: left;
}

#bottomcontent{
  width: 199mm;
margin-right: 1mm;
margin-top: 8mm;
float: left;
}

#rightcontent{
  width: 72mm;
  float: right;
  padding-top:8mm;
}

.receipt-info{
  overflow: hidden;
}

.receipt-list{
  overflow: hidden;
  float:right;
    width: 72mm;
}

hr{
  width: 100%;
}

label-mainwrapper{
  width: 100%;
}

.label-wrapper{
  width: 100mm;
margin: 0.2cm 0;
	overflow: hidden;
  float: left;
}

.label-wrapper2{
	width: 52mm;
	margin: 0.05cm 0;
	overflow: hidden;
  float: left;
}

.right-wrapper{
	width: 60mm;
	margin: 0.1cm 0;
	overflow: hidden;
  float: left;
}

.label-rightwrapper{
	width: 100%;
	margin: 0.2cm 0;
	overflow: hidden;
}

.label{
	width: 11cm;
}

.label-left{
	width: 35mm;
	float: left;
}

.label-right{
	float: left;
}

.label-right2{
	width: 27mm;
	float: left;
}

.rightlabel-left{
	width: 40mm;
	float: left;
}

.rightlabel-right{
	width: 31mm;
	float: left;
  text-align: right;
}

table.receipt-table {
	width: 100%;
	color: #000;
}

table.receipt-table th {
	border-width: 1px;
	padding: 1px;
}

table.receipt-table td {
	border-width: 1px;
	padding: 1px;
  text-align: center;
}
